{% extends 'base.html' %}
    {% block content %}
    <h2 class="text-center text-dark fw-bold">📰 Latest News</h2>
<div class="container mt-5">

    <div class="row mt-4">
        {% for article in articles %}
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="News Image">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="text-muted">{{ article.timestamp|date:"M d, Y H:i" }}</p>
                    <p class="card-text">{{ article.description }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No news articles available.</p>
        {% endfor %}
    </div>
</div>
    {% endblock %}
